body{
    margin: 0;
    font-family: Roboto, sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 200px;
    color: #F9FAF8;
    font-size: 24px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
 }

h2{
    display: flex;
    font-size: 24px;
    margin: 0;
    padding-top: 24px;
}

.header-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 128px;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}


.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6E747C;
}

.right p{
    font-size: 16px;
}

.left h1{
    margin: 0;
}

.left p{
    margin: 16px 0;
    color: #E5E7EB;
    font-size: 18px;
    padding-bottom: 8px;
    padding-right: 16px;
}


.left button{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 29%;
    margin-top: 0;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 128px;
}

.containers{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
}

.container{
    /* outline: 2px solid red; */
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
  }



.placeholder{
    border-radius: 8px;
    outline: 4px solid #3882f6;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .container p{
    font-size: 18px;
    color: darkgray;
    text-wrap: inherit;
    margin: 16px;
  }